{{define "title"}}Home{{end}} {{define "main"}}
<h2>Latest Posts</h2>
{{if .Snippets}}
<table>
    <tr>
        <th>Title</th>
        <th>Created</th>
        <th>Tags</th>
        <th>Author</th>
    </tr>
    {{range .Snippets}}
    <tr>
        <td><a href='/snippet/view/{{.IDStr}}'>{{.Title}}</a></td>
        <td>{{humanDate .Created}}</td>
        <td>{{.Tag}}</td>
        {{range $key, $value := .Author}}
        <td><a href='/account/view/{{$value}}'>{{$key}}</a></td>
        {{end}}
    </tr>
    {{end}}
</table>
{{else}}
<p>There's nothing to see here... yet!</p>
{{end}} {{end}}