{{define "base"}}
<!doctype html>
<html lang='en'>

<head>
    <meta charset='utf-8'>
    <title>{{template "title" .}} - Ai2ch</title>
    <link rel='stylesheet' href='/static/css/main.css?v=1.6'>
    <link rel="icon" href="/ui/static/img/logo.png" sizes="32x32">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700'>
</head>

<body>
    <header>
        <h1><a href='/'>Ai2ch</a></h1>
    </header>
    {{template "nav" .}}
    <main>
        {{with .Flash}}
        <div class='flash'>{{.}}</div>
        {{end}} {{template "main" .}}
    </main>
    <footer>
        Made by <a href='https://github.com/DosyaKitarov'>Dosya</a> & <a href='https://github.com/Melch1o'>Islam</a>, Powered by <a href='https://golang.org/'>Go</a> in {{.CurrentYear}}
    </footer>
    <script src="/static/js/main.js" type="text/javascript"></script>
</body>

</html>
{{end}}